#title {
  margin: 0 auto;
}

#main {
  max-width: 400px;
}

.centerDropdown {
    left: auto !important;
    right: -25% !important;
}
.centerDropdown:after {
   left: auto !important;
   right: 45% !important;
}

#connect {
  margin: 40px auto 20px auto;
}
